<div class="modal-header">
	<h3 class="modal-title">Settings for {{ room }}</h3>
</div>
<div class="modal-body">
	<div class="well">
		<label for="newtopic" class="control-label">Set topic</label>
		<div class="input-group">
			<input type="text" class="form-control" id="newtopic" name="newtopic" ng-model="newtopic" ng-keydown="settopicDown($event)"/>
			<span class="input-group-btn">
				<button class="btn btn-primary" ng-click="setTopic()">Save</button>
			</span>
		</div>
	</div>

	<div class="well">
		<label for="newpassword" class="control-label">Set password</label>
		<div class="input-group">
			<input type="password" class="form-control" id="newpassword" name="newpassword" ng-model="newpassword" ng-keydown="setpasswordDown($event)"/>
			<span class="input-group-btn">
				<button class="btn btn-primary" ng-click="setPassword()">Save</button>
			</span>
		</div>
		<label for="removepassword" class="control-label">Remove password</label>
		<div>
			<button class="btn btn-default" ng-click="removePassword()">Remove Password</button>
		</div>
	</div>

	<div class="well">
		<label for="setop">Set user privileges</label>
		<ui-select ng-model="user.selected" theme="bootstrap" reset-search-input="false">
			<ui-select-match placeholder="Select or search for a user">{{$select.selected}}</ui-select-match>
			<ui-select-choices repeat="user in users | filter: $select.search">
				<span ng-bind-html="user | highlight: $select.search"></span>
			</ui-select-choices>
		</ui-select>
		<div class="btn-group" role="group" aria-label="...">
			<button type="button" class="btn btn-default" ng-click="userStatus('op')">Promote</button>
			<button type="button" class="btn btn-default" ng-click="userStatus('deop')">Demote</button>
		</div>
		<button type="button" class="btn btn-default" ng-click="userStatus('kick')">Kick</button>
		<div class="btn-group" role="group" aria-label="...">
			<button type="button" class="btn btn-default" ng-click="userStatus('ban')">Ban</button>
			<button type="button" class="btn btn-default" ng-click="userStatus('unban')">Unban</button>
		</div>
	</div>

	<!-- <div class="form-group">
		<label for="newroomname" class="control-label">Room name</label>
		<input type="text" class="form-control" id="newroomname" name="newroomname" ng-model="newroomname" ng-keydown="down($event)"/>
		<label for="newroompassword" class="control-label">Room password (optional)</label>
		<input type="password" class="form-control" id="newroompassword" name="newroompassword" ng-model="newroompassword" ng-keydown="down($event)"/>
	</div> -->

	<div class="alert alert-danger" role="alert" ng-show="displayError">
		{{ errorMessage }}
	</div>
	<div class="alert alert-success" role="alert" ng-show="displaySuccess">
		{{ successMessage }}
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-click="close()">Close</button>
</div>