<div class="modal-header">
	<h3 class="modal-title">Send message to {{ recepient }}</h3>
</div>
<div class="modal-body">
	<div class="form-group">
		<label for="pmessage" class="control-label">Message</label>
		<input type="text" class="form-control" id="pmessage" name="pmessage" ng-model="pmessage" focus="{{pmessage}}" ng-keydown="down($event)"/>
	</div>

	<div class="alert alert-danger" role="alert" ng-show="displayError">
		{{ errorMessage }}
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-default" ng-click="send()">Send</button>
	<button class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>