.Player {
	position: absolute;
  	transition: 0.05s;
	top: 0;
	left: 0;
	width: 8em;
	height: 8em;
	/*background: blue;*/
	background-image: url('../rayman.png');
}

.Pipe {
	position: absolute;
	top: 0;
	left: 0;
	width: 12em;
	height: 92em;
	background-image: url('../rayman-thickpipe.png');
}

.Scoreboard {
	position: absolute;
	left: 50%;
	top: 10em;
	height: 30em;
	width: 40em;
	margin-left: -20em;
	box-sizing: border-box;
	background: purple;
	text-align: center;
	-webkit-transform: translateZ(0) translate(0, -40em);
	-webkit-transition: -webkit-transform 0.5s;
	transform: translateZ(0) translate(0, -40em);
	transition: transform 0.5s;
}

/**
* Reset transform to animate it into the correct spot on the screen.
*/
.Scoreboard.is-visible {
	-webkit-transform: none;
	transform: none;
}

.Scoreboard-Score {

}

.Scoreboard-restart {
	margin-top: 20em;
	font-size: inherit;
	padding: 0.4em 1.5em;
	border: 0.2em solid white;
	background: none;
	cursor: pointer;
}
.Scoreboard-restartText {
font-family: 'Comic Sans MS', serif;
font-size: 2.4em;
color: white;
}
body {
background: black;
}
.browsehappy {
margin: 0.2em 0;
background: ?#?ccc?;
color: #000;
padding: 0.2em 0;
}
.GameCanvas {
font-size: 10px;
position: absolute;
left: 50%;
top: 50%;
width: 48em;
height: 64em;
margin-left: -51.2em;
margin-top: -28.8em;
overflow: hidden;
background-image: url('../rayman-background.png');
/*background: white;*/
}

.Score {
	position: absolute;
	top: 0.7em;
	left: 0.7em;
	font-size: 2.7em;
	color: white;
	text-shadow:
		-1px -1px 0 #000,  
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}