<div>
	<div class="row">
		<div class="col-md-8">
			<h4>Welcome to {{ roomName }}, please behave</h4>		
		</div>
		<div class="col-md-4">
			<button class="btn btn-default pull-right" ng-click="settingsDialog()" ng-show="isOP">Room Settings</button>
		</div>
	
	
	</div>
	
	<div class="row">
		<div class="col-md-8">
			<div class="well" id="msgContainer" scroll-glue="glued">
				<ul id="msgList">
					<li ng-repeat="msg in messages"><span>{{msg.nick}}:</span> {{ msg.message }}</li>
				</ul>
			</div>
			<div class="input-group">
				<input type="text" class="form-control" ng-model="newmsg" ng-keydown="down($event)"/>
				<span class="input-group-btn">
					<button class="btn btn-default" ng-click="addMsg()" type="button">Send</button> 
				</span>
			</div>
			<div class="alert alert-danger" role="alert" ng-show="displayError">
				{{ errorMessage }}
			</div>
		</div>
		<div class="col-md-4">
			<div class="well" id="users">
				<h4>Operators</h4>
				<ul ng-repeat="op in ops">
					<li>{{ op }}</li>
				</ul>
				<h4>Guests</h4>
				<ul>
					<li ng-repeat="user in users">{{ user }} <span class="glyphicon glyphicon-envelope" ng-click="pmsg(user)"></span></li>
				</ul>
			</div>
		</div>
	</div>
	<input type="text" class="form-control" ng-model="toBeModified"/>
	<button class="btn btn-default" ng-click="userStatus('kick')" type="button">kick</button>
	<button class="btn btn-default" ng-click="userStatus('op')" type="button">op</button> 
	<button class="btn btn-default" ng-click="userStatus('deop')" type="button">op</button> 
	<button class="btn btn-default" ng-click="userStatus('ban')" type="button">op</button> 
	<button class="btn btn-default" ng-click="userStatus('unban')" type="button">op</button> 
</div>
