<div class="col-md 4">
	<h4>Welcome to {{ roomName }}, please behave</h4>
	<div class="well">
		<ul ng-repeat="msg in messages">
			<li><span>{{msg.nick}}:</span> {{ msg.message }}</li>
		</ul>
	</div>
	<div class="input-group">
		<input type="text" ng-controller="RoomController" ng-keydown="down($event)" ng-model="msg"/>
		<span class="input-group-btn">
			<button ng-click="addMsg()" type="button">Send</button> 
		</span>
	</div>
	<div class="alert alert-danger" role="alert" ng-show="displayError">
		{{ errorMessage }}
	</div>
</div>
