<div class="col-md 4">
	<h4>Welcome {{ currentUser }}, please select a chatroom</h4>
	<div class="well">
		<ul ng-repeat="room in roomList">
			<li><a ng-click="joinRoom(room)">{{ room }}</a></li>
		</ul>
	</div>
	<div class="input-group">
		Room name: <input type="text" ng-model="newRoom"/> Room password: <input type="text" ng-model="newPass"/>
		<span class="input-group-btn">
			<button ng-click="addRoom()" type="button" >New Room</button> 
		</span>
	</div>
	<div class="alert alert-danger" role="alert" ng-show="displayError">
		{{ errorMessage }}
	</div>
</div>