<div class="row">
	<div class="col-md-8">
		<h4>Welcome {{ currentUser }}, please select a chatroom</h4>
	</div>
	<div class="col-md-4">
		<button class="btn btn-default pull-right" ng-click="logOut()">Log Out</button>
	</div>
</div>

<div class="row">
	<div class="col-md-8">
		<div class="well">
			<h5>Available rooms</h5>
			<table class="table table-striped">
				<tr ng-repeat="room in roomList">
					<td><a ng-click="joinRoom(room)">{{ room }}</a></td>
				</tr>
			</table>
		</div>

		<button type="button" class="btn btn-default" ng-click="createRoom()">Create new room</button>
		<div class="alert alert-danger" role="alert" ng-show="displayError">
			{{ errorMessage }}
		</div>
	</div>

	<div class="col-md-4">
		<div class="well">
			<h5>Users currently logged in</h5>
			<table class="table table-striped">
				<tr ng-repeat="user in users">
					<td>{{user}}</td>
				</tr>
			</table>
		</div>
	</div>
</div>
